[Unit]
Description=Paperless consumer
Requires=redis.service

[Service]
User=hlbadmin
#Group=hlbadmin
WorkingDirectory=/opt/prazo-paperless/src
ExecStart=/opt/prazo-paperless/.venv/bin/python manage.py document_consumer

[Install]
WantedBy=multi-user.target
