[Unit]
Description=Paperless Celery Workers
Requires=redis.service

[Service]
User=hlbadmin
#Group=hlbadmin
WorkingDirectory=/opt/prazo-paperless/src
ExecStart=/opt/prazo-paperless/.venv/bin/celery --app paperless worker --loglevel INFO

[Install]
WantedBy=multi-user.target
